*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    font-family: 'Roboto', sans-serif;
    &:visited{
        text-transform: none;
        color: rgb(238,238,238);
    }
    
}

body{
    background-color: rgb(247,247,247);
    margin: 0 auto;
    min-width: 100vh;
}