$cor-primaria: rgb(247,247,247);
$cor-primaria-opc: rgba(247,247,247,0.8);
$cor-primaria-opc-ii: rgba(247,247,247,0.9);
$cor-secundaria: rgb(19,28,33);
$cor-secundaria-opc: rgba(19,28,33,0.8);

$sombra-escura: rgba(19,28,33,0.6);
$sombra-clara: rgba(247,247,247,0.2);
$text-primario: rgba(247,247,247,0.7);