@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
*:visited {
  text-transform: none;
  color: #eeeeee;
}

body {
  background-color: #f7f7f7;
  margin: 0 auto;
}

/* Página Radar e Complementares*/
/* Página Home*/
.page_index {
  position: fixed;
}

.nav_home {
  background-color: rgba(19, 28, 33, 0.8);
  box-shadow: 0 0 2vh rgba(19, 28, 33, 0.8);
  width: 100%;
  height: 5rem;
  margin: 0 center;
}
.nav_home .menu {
  display: flex;
  max-width: 75rem;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding-top: 0px;
  font-weight: 400;
}
.nav_home .menu .left_menu {
  text-decoration: none;
  display: flex;
  list-style: none;
}
.nav_home .menu .left_menu li {
  position: relative;
}
.nav_home .menu .left_menu :hover {
  background-color: #f7f7f7;
  color: #131c21;
}
.nav_home .menu .left_menu a {
  display: block;
  text-decoration: none;
  padding: 1.875rem 1.25rem;
}
.nav_home .menu .left_menu a :visited {
  text-decoration: none;
  color: #f7f7f7;
}
.nav_home .right_menu {
  text-decoration: none;
  display: flex;
  list-style: none;
}
.nav_home .right_menu .botaoEntrar {
  padding-top: 1.25rem;
}
.nav_home .right_menu .botaoEntrar button {
  display: block;
  text-decoration: none;
  padding: 0.625rem 1.875rem;
  border-radius: 0.625rem;
  cursor: pointer;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #131c21;
  box-shadow: 0 0 0.875rem rgba(247, 247, 247, 0.2);
  background-color: #f7f7f7;
}
.nav_home .right_menu .botaoEntrar :hover {
  background-color: #131c21;
  color: #f7f7f7;
}
.nav_home .right_menu li {
  position: relative;
}
.nav_home .right_menu li .noVisited {
  display: block;
  text-decoration: none;
  padding: 30px 20px;
  font-size: 90%;
}
.nav_home .right_menu li :hover {
  background-color: #f7f7f7;
  color: #131c21;
}

.paralax {
  background-attachment: fixed;
}

.home_one {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-image: url(/img/entrada1.png);
}
.home_one .dadosUm {
  text-align: center;
  font-size: 1.875rem;
  color: rgba(247, 247, 247, 0.7);
  padding-top: 18%;
  margin: 0 auto;
}
.home_one .dadosUm .botaoInfos {
  text-decoration: none;
  padding: 0.625rem 2.5rem;
  border-radius: 0.625rem;
  font-size: 70%;
  cursor: pointer;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #072a29;
  box-shadow: 0 0 12px #131c21;
  background-color: rgba(247, 247, 247, 0.8);
}

.home_two {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  color: black;
}
.home_two .conteiner_resumo {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  width: 33%;
  background-color: #131c21;
  padding: 1.25rem 1.875rem;
  border-radius: 1.25rem;
  text-align: center;
  color: #f7f7f7;
}
.home_two .conteiner_resumo .text1 {
  padding-bottom: 1.25rem;
}
.home_two .conteiner_resumo .text1 ::after {
  padding-top: 0.625rem;
  content: "↓";
  display: block;
  font-weight: 900;
  font-size: 1.875rem;
}
.home_two .conteiner_resumo h4 {
  font-weight: 400;
}
.home_two .conteiner_text {
  color: #131c21;
  width: 66%;
  padding: 1.875rem;
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-align: center;
}
.home_two .conteiner_text p {
  font-size: 85%;
}
.home_two .conteiner_text .botaoCadastro {
  text-decoration: none;
  text-align: center;
  padding: 1.25rem 5rem;
  font-size: 65%;
  border-radius: 0.625rem;
  cursor: pointer;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #f7f7f7;
  box-shadow: 0 0 12px #131c21;
  background-color: #131c21;
}

.home_tree {
  padding: 1.25rem 0rem 1.25rem 0rem;
  text-align: center;
  background-color: #131c21;
  color: #f7f7f7;
}
.home_tree h2 {
  width: 35rem;
  margin: 0 auto;
  font-size: 2.5rem;
  background-color: rgba(247, 247, 247, 0.8);
  border-radius: 0.625rem;
  color: #131c21;
}
.home_tree .comunidades {
  padding-top: 1rem;
  display: flex;
  justify-content: space-around;
  max-width: 75rem;
  margin: 0 auto;
}
.home_tree .comunidades img {
  border-radius: 100%;
  width: 6.25rem;
  box-shadow: 0 0 0.75rem #131c21;
}
.home_tree .comunidades .com_one {
  border-radius: 0.625rem;
  padding: 1.25rem 5px 1.25rem 5px;
  width: 22%;
  min-width: 250px;
  background-color: rgba(247, 247, 247, 0.9);
  box-shadow: 0 0 5px rgba(19, 28, 33, 0.6);
  color: #131c21;
}
.home_tree .comunidades .com_one h4 {
  background-color: #131c21;
  color: #f7f7f7;
  padding: 10px 0px 10px 0px;
}
.home_tree .comunidades .com_one p {
  padding: 10px 0px 10px 0px;
}

.home_four {
  width: 1200px;
  margin: 0 auto;
  padding: 20px 0px 20px 0px;
  text-align: center;
  background-color: #eeeeee;
  color: #072a29;
}
.home_four .contato {
  display: flex;
}
.home_four .contato .infos {
  width: 50%;
  padding: 3vh 3vh;
}
.home_four .contato .infos .redes_sociais {
  padding-top: 200px;
}
.home_four .contato .infos .redes_sociais img {
  padding-right: 20px;
}
.home_four .contato .forms {
  border: #072a29 solid 1px;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  width: 50%;
  text-align: left;
  margin: 0 auto;
}
.home_four .contato .forms .forms_unit {
  padding-top: 10px;
}
.home_four .contato .forms .forms_unit input {
  padding: 5px;
  width: 100%;
}
.home_four .contato .forms .forms_unit .duvida {
  height: 100px;
}
.home_four .contato .forms .botao {
  padding: 10px 0px 10px 0px;
}
.home_four .contato .forms .botao button {
  padding: 5px 15px 5px 15px;
}

footer {
  background-color: #072a29;
  color: #eeeeee;
  padding: 5px;
  font-size: 70%;
  width: 100%;
}
footer p {
  text-align: right;
  margin: 0 auto;
  max-width: 1200px;
}

/* Página Radar e Complementares*/
.conteiner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.conteiner .sessao_um {
  margin: 5px 10px;
  display: flex;
  justify-content: center;
  height: 80px;
  text-align: center;
  color: #072a29;
}
.conteiner .sessao_um .section_one {
  margin: 0px 5px;
  padding: 2px 5px;
  display: flex;
  justify-content: space-around;
  width: 33%;
  background-color: white;
  font-size: 140%;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 0px 8px grey;
}
.conteiner .sessao_um .section_one h6 {
  color: rgba(7, 42, 41, 0.7);
}
.conteiner .sessao_um .section_two {
  margin: 0px 5px;
  padding: 2px 5px;
  width: 33%;
  background-color: white;
  font-size: 160%;
  border-radius: 5px;
  box-shadow: 0px 0px 8px grey;
}
.conteiner .sessao_um .section_two .bosses {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.conteiner .sessao_um .section_two .bosses .alo1 {
  background-color: green;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.conteiner .sessao_um .section_two .bosses .alo1 .orsha {
  margin: 5px 5px;
  width: 80%;
  height: 80%;
  background-color: white;
  border-radius: 100%;
}
.conteiner .sessao_um .section_two .bosses .alo1 .orsha img:hover {
  opacity: 0.5;
}
.conteiner .sessao_um .section_two .bosses .alo1 .orsha:hover + .orsha_txt {
  display: block;
  position: relative;
  top: 0px;
}
.conteiner .sessao_um .section_two .bosses .alo1 .orsha_txt {
  display: none;
  background-color: #eeeeee;
  width: 15vh;
  font-size: 50%;
  padding: 20% 0;
  border-radius: 5%;
  box-shadow: 0px 0px 8px grey;
}
.conteiner .sessao_um .section_two .bosses .alo2 {
  background-color: green;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.conteiner .sessao_um .section_two .bosses .alo2 .ferumb {
  margin: 5px 5px;
  width: 80%;
  height: 80%;
  background-color: white;
  border-radius: 100%;
}
.conteiner .sessao_um .section_two .bosses .alo2 .ferumb img:hover {
  opacity: 0.5;
}
.conteiner .sessao_um .section_two .bosses .alo2 .ferumb:hover + .ferumb_txt {
  display: block;
  position: relative;
  top: 0px;
}
.conteiner .sessao_um .section_two .bosses .alo2 .ferumb_txt {
  display: none;
  background-color: #eeeeee;
  width: 15vh;
  font-size: 50%;
  padding: 20% 0;
  border-radius: 5%;
  box-shadow: 0px 0px 8px grey;
}
.conteiner .sessao_um .section_two .bosses .alo3 {
  background-color: green;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.conteiner .sessao_um .section_two .bosses .alo3 .morg {
  margin: 5px 5px;
  width: 80%;
  height: 80%;
  background-color: white;
  border-radius: 100%;
}
.conteiner .sessao_um .section_two .bosses .alo3 .morg img:hover {
  opacity: 0.5;
}
.conteiner .sessao_um .section_two .bosses .alo3 .morg:hover + .morg_txt {
  display: block;
  position: relative;
  top: 0px;
}
.conteiner .sessao_um .section_two .bosses .alo3 .morg_txt {
  display: none;
  background-color: #eeeeee;
  width: 15vh;
  font-size: 50%;
  padding: 20% 0;
  border-radius: 5%;
  box-shadow: 0px 0px 8px grey;
}
.conteiner .sessao_um .section_two .bosses .alo4 {
  background-color: green;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.conteiner .sessao_um .section_two .bosses .alo4 .gaz {
  margin: 5px 5px;
  width: 80%;
  height: 80%;
  background-color: white;
  border-radius: 100%;
}
.conteiner .sessao_um .section_two .bosses .alo4 .gaz img:hover {
  opacity: 0.5;
}
.conteiner .sessao_um .section_two .bosses .alo4 .gaz:hover + .gaz_txt {
  display: block;
  position: relative;
  top: 0px;
}
.conteiner .sessao_um .section_two .bosses .alo4 .gaz_txt {
  display: none;
  background-color: #eeeeee;
  width: 15vh;
  font-size: 50%;
  padding: 20% 0;
  border-radius: 5%;
  box-shadow: 0px 0px 8px grey;
}
.conteiner .sessao_um .section_three {
  margin: 0px 5px;
  padding: 2px 5px;
  width: 33%;
  background-color: white;
  font-size: 160%;
  border-radius: 5px;
  box-shadow: 0px 0px 8px grey;
}
.conteiner .sessao_um .section_three .events {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 40%;
}
.conteiner .sessao_um .section_three .events .events_one {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.conteiner .sessao_um .section_three .events .events_one span {
  font-weight: bold;
}
.conteiner .sessao_um .section_three .events .events_two {
  text-align: center;
}
.conteiner .sessao_dois {
  margin: 5px 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #072a29;
}
.conteiner .sessao_dois .lore_one {
  width: 50%;
  background-color: white;
  margin: 5px;
  height: 400px;
  border-radius: 5px;
  box-shadow: 0px 0px 8px grey;
  overflow: auto;
}
.conteiner .sessao_dois .lore_one h3 {
  padding: 5px;
}
.conteiner .sessao_dois .lore_one .table_one {
  table-layout: fixed;
  width: 100%;
  font-size: 90%;
  overflow: auto;
}
.conteiner .sessao_dois .lore_one .table_one thead {
  background-color: rgba(7, 42, 41, 0.5);
}
.conteiner .sessao_dois .lore_one .table_one thead th {
  padding: 6px 0px;
}
.conteiner .sessao_dois .lore_one .table_one tbody tr .bicho .area1 {
  margin: 0px 45px;
  padding: 5px 5px;
  border-radius: 50px;
  background-color: green;
}
.conteiner .sessao_dois .lore_one .table_one tbody tr .bicho .area1 .area_in {
  padding: 3px 3px;
  border-radius: 50px;
  background-color: white;
}
.conteiner .sessao_dois .lore_one .table_one tbody tr .bicho .area2 {
  margin: 0px 45px;
  padding: 5px 5px;
  border-radius: 50px;
  background-color: yellow;
}
.conteiner .sessao_dois .lore_one .table_one tbody tr .bicho .area2 .area_in {
  padding: 3px 3px;
  border-radius: 50px;
  background-color: white;
}
.conteiner .sessao_dois .lore_one .table_one tbody tr .bicho .area3 {
  margin: 0px 45px;
  padding: 5px 5px;
  border-radius: 50px;
  background-color: grey;
}
.conteiner .sessao_dois .lore_one .table_one tbody tr .bicho .area3 .area_in {
  padding: 3px 3px;
  border-radius: 50px;
  background-color: white;
}
.conteiner .sessao_dois .lore_one .table_one tbody tr .bicho .area4 {
  margin: 0px 45px;
  padding: 5px 5px;
  border-radius: 50px;
  background-color: grey;
}
.conteiner .sessao_dois .lore_one .table_one tbody tr .bicho .area4 .area_in {
  padding: 3px 3px;
  border-radius: 50px;
  background-color: white;
}
.conteiner .sessao_dois .lore_one .table_one tbody tr:nth-child(even) {
  background-color: rgba(7, 42, 41, 0.05);
}
.conteiner .sessao_dois .lore_two {
  width: 50%;
  background-color: white;
  margin: 5px;
  height: 400px;
  border-radius: 5px;
  box-shadow: 0px 0px 8px grey;
  overflow: auto;
}
.conteiner .sessao_dois .lore_two h3 {
  padding: 5px;
}
.conteiner .sessao_dois .lore_two .table_one {
  table-layout: fixed;
  width: 100%;
  font-size: 90%;
  overflow: auto;
}
.conteiner .sessao_dois .lore_two .table_one thead {
  background-color: rgba(7, 42, 41, 0.5);
}
.conteiner .sessao_dois .lore_two .table_one thead th {
  padding: 6px 0px;
}
.conteiner .sessao_dois .lore_two .table_one tbody tr .bicho .area1 {
  margin: 0px 45px;
  padding: 5px 5px;
  border-radius: 50px;
  background-color: green;
}
.conteiner .sessao_dois .lore_two .table_one tbody tr .bicho .area1 .area_in {
  padding: 3px 3px;
  border-radius: 50px;
  background-color: white;
}
.conteiner .sessao_dois .lore_two .table_one tbody tr .bicho .area2 {
  margin: 0px 45px;
  padding: 5px 5px;
  border-radius: 50px;
  background-color: yellow;
}
.conteiner .sessao_dois .lore_two .table_one tbody tr .bicho .area2 .area_in {
  padding: 3px 3px;
  border-radius: 50px;
  background-color: white;
}
.conteiner .sessao_dois .lore_two .table_one tbody tr .bicho .area3 {
  margin: 0px 45px;
  padding: 5px 5px;
  border-radius: 50px;
  background-color: grey;
}
.conteiner .sessao_dois .lore_two .table_one tbody tr .bicho .area3 .area_in {
  padding: 3px 3px;
  border-radius: 50px;
  background-color: white;
}
.conteiner .sessao_dois .lore_two .table_one tbody tr .bicho .area4 {
  margin: 0px 45px;
  padding: 5px 5px;
  border-radius: 50px;
  background-color: grey;
}
.conteiner .sessao_dois .lore_two .table_one tbody tr .bicho .area4 .area_in {
  padding: 3px 3px;
  border-radius: 50px;
  background-color: white;
}
.conteiner .sessao_dois .lore_two .table_one tbody tr:nth-child(even) {
  background-color: rgba(7, 42, 41, 0.05);
}
.conteiner .sessao_tres {
  margin: 5px 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #072a29;
}
.conteiner .sessao_tres .lore_one {
  width: 50%;
  background-color: white;
  margin: 5px;
  height: 400px;
  border-radius: 5px;
  box-shadow: 0px 0px 8px grey;
  overflow: auto;
}
.conteiner .sessao_tres .lore_one h3 {
  padding: 5px;
}
.conteiner .sessao_tres .lore_one .table_one {
  table-layout: fixed;
  width: 100%;
  font-size: 90%;
}
.conteiner .sessao_tres .lore_one .table_one thead {
  background-color: rgba(7, 42, 41, 0.5);
}
.conteiner .sessao_tres .lore_one .table_one thead th {
  padding: 6px 0px;
}
.conteiner .sessao_tres .lore_one .table_one tbody tr .bicho .area1 {
  margin: 0px 45px;
  padding: 5px 5px;
  border-radius: 50px;
  background-color: green;
}
.conteiner .sessao_tres .lore_one .table_one tbody tr .bicho .area1 .area_in {
  padding: 3px 3px;
  border-radius: 50px;
  background-color: white;
}
.conteiner .sessao_tres .lore_one .table_one tbody tr .bicho .area2 {
  margin: 0px 45px;
  padding: 5px 5px;
  border-radius: 50px;
  background-color: yellow;
}
.conteiner .sessao_tres .lore_one .table_one tbody tr .bicho .area2 .area_in {
  padding: 3px 3px;
  border-radius: 50px;
  background-color: white;
}
.conteiner .sessao_tres .lore_one .table_one tbody tr .bicho .area3 {
  margin: 0px 45px;
  padding: 5px 5px;
  border-radius: 50px;
  background-color: grey;
}
.conteiner .sessao_tres .lore_one .table_one tbody tr .bicho .area3 .area_in {
  padding: 3px 3px;
  border-radius: 50px;
  background-color: white;
}
.conteiner .sessao_tres .lore_one .table_one tbody tr .bicho .area4 {
  margin: 0px 45px;
  padding: 5px 5px;
  border-radius: 50px;
  background-color: grey;
}
.conteiner .sessao_tres .lore_one .table_one tbody tr .bicho .area4 .area_in {
  padding: 3px 3px;
  border-radius: 50px;
  background-color: white;
}
.conteiner .sessao_tres .lore_one .table_one tbody tr:nth-child(even) {
  background-color: rgba(7, 42, 41, 0.05);
}
.conteiner .sessao_tres .lore_two {
  width: 50%;
  background-color: white;
  margin: 5px;
  height: 400px;
  border-radius: 5px;
  box-shadow: 0px 0px 8px grey;
  overflow: auto;
}
.conteiner .sessao_tres .lore_two h3 {
  padding: 5px;
}
.conteiner .sessao_tres .lore_two .table_one {
  table-layout: fixed;
  width: 100%;
  font-size: 90%;
  overflow: auto;
}
.conteiner .sessao_tres .lore_two .table_one thead {
  background-color: rgba(7, 42, 41, 0.5);
}
.conteiner .sessao_tres .lore_two .table_one thead th {
  padding: 6px 0px;
}
.conteiner .sessao_tres .lore_two .table_one tbody tr .bicho .area1 {
  margin: 0px 45px;
  padding: 5px 5px;
  border-radius: 50px;
  background-color: green;
}
.conteiner .sessao_tres .lore_two .table_one tbody tr .bicho .area1 .area_in {
  padding: 3px 3px;
  border-radius: 50px;
  background-color: white;
}
.conteiner .sessao_tres .lore_two .table_one tbody tr .bicho .area2 {
  margin: 0px 45px;
  padding: 5px 5px;
  border-radius: 50px;
  background-color: yellow;
}
.conteiner .sessao_tres .lore_two .table_one tbody tr .bicho .area2 .area_in {
  padding: 3px 3px;
  border-radius: 50px;
  background-color: white;
}
.conteiner .sessao_tres .lore_two .table_one tbody tr .bicho .area3 {
  margin: 0px 45px;
  padding: 5px 5px;
  border-radius: 50px;
  background-color: grey;
}
.conteiner .sessao_tres .lore_two .table_one tbody tr .bicho .area3 .area_in {
  padding: 3px 3px;
  border-radius: 50px;
  background-color: white;
}
.conteiner .sessao_tres .lore_two .table_one tbody tr .bicho .area4 {
  margin: 0px 45px;
  padding: 5px 5px;
  border-radius: 50px;
  background-color: grey;
}
.conteiner .sessao_tres .lore_two .table_one tbody tr .bicho .area4 .area_in {
  padding: 3px 3px;
  border-radius: 50px;
  background-color: white;
}
.conteiner .sessao_tres .lore_two .table_one tbody tr:nth-child(even) {
  background-color: rgba(7, 42, 41, 0.05);
}
.conteiner .sessao_doisdois .section_one {
  margin: 5px 15px;
  justify-content: center;
  text-align: center;
  color: #072a29;
  background-color: white;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 0px 8px grey;
  height: 100%;
  padding: 10px 0px;
}
.conteiner .sessao_doisdois .section_one table {
  padding: 10px 0px;
  table-layout: fixed;
  width: 100%;
  font-size: 80%;
}
.conteiner .sessao_doisdois .section_one table .prev {
  font-size: 90%;
}
.conteiner .sessao_doisdois .section_one table thead {
  background-color: rgba(7, 42, 41, 0.5);
}
.conteiner .sessao_doisdois .section_one table thead th {
  padding: 6px 0px;
}
.conteiner .sessao_doisdois .section_one table tbody tr .bicho .area1 {
  margin: auto;
  padding: 4px 4px;
  border-radius: 50px;
  width: 40%;
  background-color: green;
}
.conteiner .sessao_doisdois .section_one table tbody tr .bicho .area1 .area_in {
  padding: 4px 4px;
  border-radius: 50px;
  width: 100%;
  background-color: white;
}
.conteiner .sessao_doisdois .section_one table tbody tr:nth-child(even) {
  background-color: rgba(7, 42, 41, 0.1);
}
.conteiner .sessao_cum {
  margin: 5px 15px;
  color: #072a29;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 8px grey;
  height: 75vh;
}
.conteiner .sessao_cum .horiz_one {
  display: flex;
  padding: 10px 0px;
  justify-content: center;
  text-align: center;
}
.conteiner .sessao_cum .horiz_one .one {
  margin: auto;
  padding: 10px 0px;
  width: 20%;
  height: 15vh;
}
.conteiner .sessao_cum .horiz_one .two {
  margin: auto;
  padding: 10px 0px;
  width: 70%;
  height: 20vh;
}
.conteiner .sessao_cum .horiz_one .two .caract {
  display: flex;
  justify-content: space-around;
  padding: 20px 0px;
}
.conteiner .sessao_cum .horiz_one .two .caract .ind_one {
  padding: 0px 20px;
}
.conteiner .sessao_cum .horiz_one .two .caract .ind_two {
  padding: 0px 20px;
}
.conteiner .sessao_cum .horiz_one .two .caract .ind_three {
  padding: 0px 20px;
}
.conteiner .sessao_cum .horiz_one .two .caract .ind_four {
  padding: 0px 20px;
}
.conteiner .sessao_cum .horiz_one .two .caract .ind_five {
  padding: 0px 20px;
}
.conteiner .sessao_cum .horiz_one .two .caract .ind_six {
  padding: 0px 20px;
}

/* Página de Filtrar */
.conteiner_selection {
  display: flex;
  width: 100%;
  height: 97vh;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.conteiner_selection .selection_word {
  height: 25vh;
  min-height: 25vh;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
  align-items: center;
  width: 60vh;
  min-width: 60vh;
  background-color: rgba(238, 238, 238, 0.7);
  text-align: center;
}
.conteiner_selection .selection_word form {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.conteiner_selection .selection_word form select {
  padding: 0.4vw 15vh;
  outline: 0;
  border: 0 !important;
  cursor: pointer;
  border-radius: 5px;
}
.conteiner_selection .selection_word form select option {
  text-align: center;
}
.conteiner_selection .selection_word form input {
  text-decoration: none;
  text-align: center;
  padding: 0.4vw;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: rgba(7, 42, 41, 0.8);
  box-shadow: 0 0 3px #072a29;
  background-color: #eeeeee;
}
.conteiner_selection .selection_word form a {
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: rgba(7, 42, 41, 0.8);
  font-size: 80%;
}
.conteiner_selection .selection_word form .nopreench {
  border: solid 10px red;
}

/* Fundo Página de Perfil*/
.block {
  background-image: url(/img/home1.png);
  background-size: cover;
}/*# sourceMappingURL=style.css.map */