@import 'base';
@import 'variables';



/* Página Home*/
    .page_index{
        position: fixed;
    }

    
    .nav_home{
        background-color: $cor-secundaria-opc;
        box-shadow: 0 0 2vh $cor-secundaria-opc;
        width: 100%;
        height: 5rem;
        margin: 0 center;

        

        .menu{
        display: flex;
        max-width: 75rem;
        margin: 0 auto;
        justify-content:space-between;
        align-items: center;
        padding-top: 0px;
        font-weight: 400;
        
        
  
       
            .left_menu{
                text-decoration: none;
                display: flex;
                list-style: none;

                :hover > .submenu{
                    display:block;
                }

                .segmento{
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    align-items: center;

                    
                }
                
                

                a{
                    display: block;
                    text-decoration: none;
                    padding: 1.875rem 1.25rem;
                    color:$cor-primaria;

                    :visited{
                        text-decoration: none;
                        color:$cor-primaria;
                    }
                    

                }
                .submenu{
                    font-size: 100%;
                    display: none;
                    position: absolute;
                    top: 5rem;
                    left: 0;
                    list-style: none;
                    background-color: $cor-secundaria-opc;
                    box-shadow: $sombra-escura;
                    min-width: 110%;
                    

                    :hover{
                        background-color: $cor-secundaria;
                    }
                    
                }   
                    
                
                    
                    
                
                
            }
        }

            .right_menu{
                text-decoration: none;
                display: flex;
                list-style: none;

                .botaoEntrar{
                    padding-top: 1.25rem;

                    button{
                        display: block;
                        text-decoration: none;
                        padding: 0.625rem 1.875rem;
                        border-radius: 0.625rem;
                        cursor: pointer;
                        border: none;
                        font-family: 'Roboto', sans-serif;
                        font-weight: bold;
                        color: $cor-secundaria;
                        box-shadow: 0 0 0.875rem $sombra-clara;
                        background-color: $cor-primaria;
                    }
                    :hover{
                        background-color: $cor-secundaria;
                        color: $cor-primaria;
                    }
                }

                li{
                    position: relative;
                                        
                    .noVisited{
                        display: block;
                        text-decoration: none;
                        padding: 30px 20px;
                        font-size: 90%;
                    }
                    :hover{
                        background-color: $cor-primaria;
                        color: $cor-secundaria;
                    }    
                }
            }       
        }   

    .paralax{
        background-attachment: fixed;
    }

    .home_one{
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-image: url(/img/entrada1.png);
        
        
        
        .dadosUm{
            text-align: center;
            font-size: 1.875rem;
            color: $text-primario;
            padding-top: 18%;
            margin: 0 auto;

            h2{
                font-size: 130%;
            }

        
            .botaoInfos{
                margin-top: 0.625rem;
                text-decoration: none;
                padding: 0.625rem 2.5rem;
                border-radius: 0.625rem;
                font-size: 70%;
                cursor: pointer;
                border: none;
                font-family: 'Roboto', sans-serif;
                font-weight: bold;
                color: rgba(7,42,41,1);
                box-shadow: 0 0 12px $cor-secundaria;
                background-color: $cor-primaria-opc;
            }
        }
    }
    .home_two{
        display: flex;
        max-width: 1200px;
        margin: 0 auto;
        justify-content:space-between;
        align-items: center;
        color:black;

        .conteiner_resumo{
            margin-top: 1.25rem;
            margin-bottom: 1.25rem;
            width: 33%;
            background-color: $cor-secundaria;
            padding: 1.25rem 1.875rem;
            border-radius: 1.25rem;
            text-align: center;
            color: $cor-primaria;

            .text1{
                padding-bottom: 1.25rem;
                ::after{
                padding-top:0.625rem;
                content: '↓';
                display: block;
                font-weight: 900;
                font-size: 1.875rem;
                }
            }
            h4{
                font-weight: 400;
            }
        }
        .conteiner_text{
            color: $cor-secundaria;
            width: 66%;
            padding: 1.875rem;
            font-size: 1.5rem;
            line-height: 2.5rem;
            text-align: center;
        
            p{
                font-size: 85%;
            }
              
            .botaoCadastro{
                text-decoration: none;
                text-align: center;
                padding: 1.25rem 5rem;
                font-size: 65%;
                border-radius: 0.625rem;
                cursor: pointer;
                border: none;
                font-family: 'Roboto', sans-serif;
                font-weight: bold;
                color: $cor-primaria;
                box-shadow: 0 0 12px  $cor-secundaria;
                background-color:  $cor-secundaria;
            }
            
        }
    }

    .home_tree{
        padding: 1.25rem 0rem 1.25rem 0rem;
        text-align: center;
        background-color: $cor-secundaria;
        color: $cor-primaria;
        
        h2{
            width: 35rem;
            margin: 0 auto;
            font-size: 2.5rem;
            background-color:$cor-primaria-opc;
            border-radius: 0.625rem;
            color: $cor-secundaria;
        }
        .comunidades{
            padding-top: 1rem; 
            display: flex;
            justify-content: space-around;
            max-width: 75rem;
            margin: 0 auto;

            img{
                border-radius: 100%;
                width: 6.25rem;
                box-shadow: 0 0 0.75rem $cor-secundaria;
            }
            .com_one{
                border-radius: 0.625rem;
                padding: 1.25rem 0.313rem 1.25rem 0.313rem;
                width: 22%;
                min-width: 15.625rem;
                background-color: $cor-primaria-opc-ii;
                box-shadow: 0 0 0.313rem $sombra-escura;
                color: $cor-secundaria;
                    h4{
                        background-color: $cor-secundaria;
                        color:$cor-primaria;
                        
                        padding: 0.625rem 0rem 0.625rem 0rem;
                    }    
                    p{
                        padding: 0.625rem 0rem 0.625rem 0rem;
                    }

            }
            

        }
    }

    .home_four{
        width: 100%;
        margin: 0 auto;
        padding: 1.25rem 0rem 1.25rem 0rem;
        text-align: center;
        background-color: $cor-primaria;
        color: $cor-secundaria;
        font-size: 1.5rem;

        h2{
            margin: 1rem 0rem 1rem 0rem;
            background-color:$cor-secundaria;
            color:$cor-primaria;
        }

        .swiper{
            max-width:60rem;
            max-height: 30rem;
            
            .swiper-slide{
                width: 30px;

                img{
                    max-width: 60rem;
                    max-height: 30rem;
                    padding: 0rem 5rem 0rem 5rem;

                }

                
            }
        }





    }

    footer{
        background-color:$cor-secundaria;
        color:$cor-primaria;
        padding: 0.313rem;
        font-size: 0.7rem;
        width: 100%;
        
        p{
            text-align: right;
            margin: 0 auto;
            max-width: 75rem;
        }
    }

    /* Página Radar e Complementares*/
 
    
    .conteiner{
        width: 100%;
        max-width: 75rem;
        margin: 0 auto;
        
        .sessao_um{
            margin: 0.313rem 0.625rem;
            display: flex;
            justify-content: center;
            height: 5rem;
            text-align: center;
            color: $cor-secundaria;

            .section_one{
                margin: 0px 0.313rem;
                padding: 0.125rem 0.313rem;
                display: flex;
                justify-content: space-around;
                width: 33%;
                background-color: white;
                font-size: 140%;
                align-items: center;
                border-radius: 0.313rem;
                box-shadow: 0px 0px 0.5rem grey;
                
                h6{
                    color: $cor-secundaria-opc;
                }
            }
            .section_two{
                margin: 0px 0.313rem;
                padding: 0.125rem 0.313rem;
                width: 33%;
                background-color: white;
                font-size: 160%;
                border-radius: 0.313rem;
                box-shadow: 0px 0px 0.5rem $sombra-escura;
                
                .bosses{
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    position:relative;
                    
                
                    .alo1{
                        width: 3.125rem;
                        max-width: 3.125rem;
                        min-width: 3.125rem;
                        height: 3.125rem;
                        max-height: 3.125rem;
                        min-height: 3.125rem;
                        border-radius: 3.125rem;   
                       
                        .orsha{
                            margin:0.313rem 0.313rem;
                            width: 80%;
                            height: 80%;
                            background-color: $cor-primaria;
                            border-radius: 100%;


                            img{
                                &:hover{
                                opacity: 0.5;
                                }
                            }
                            &:hover + .orsha_txt{
                                display: block;
                                position: relative;
                                top: 0px;
                                                                
                                }
                                                    
                        }

                        .orsha_txt{
                            display: none;
                            background-color: $cor-primaria;
                            width: 7.25rem;
                            font-size: 50%;
                            padding: 20% 0;
                            border-radius: 5%;
                            box-shadow: 0px 0px 0.825rem grey;
                        }                            
                    }
                    .alo2{
                        width: 3.125rem;
                        max-width: 3.125rem;
                        min-width: 3.125rem;
                        height: 3.125rem;
                        max-height: 3.125rem;
                        min-height: 3.125rem;
                        border-radius: 3.125rem;   
                        
                       
                        .ferumb{
                            margin:0.313rem 0.313rem;
                            width: 80%;
                            height: 80%;
                            background-color: $cor-primaria;
                            border-radius: 100%;
                            
                            img{
                                &:hover{
                                opacity: 0.5;
                                }
                            }
                            
                            &:hover + .ferumb_txt{
                                display: block;
                                position: relative;
                                top: 0px;
                                
                            }                   
                        }

                        .ferumb_txt{
                            display: none;
                            background-color: $cor-primaria;
                            width: 7.25rem;
                            font-size: 50%;
                            padding: 20% 0;
                            border-radius: 5%;
                            box-shadow: 0px 0px 0.825rem grey;
                        }
                    }
                    .alo3{ 
                        width: 3.125rem;
                        max-width: 3.125rem;
                        min-width: 3.125rem;
                        height: 3.125rem;
                        max-height: 3.125rem;
                        min-height: 3.125rem;
                        border-radius: 3.125rem;   
                       
                        
                        .morg{
                            margin:0.313rem 0.313rem;
                            width: 80%;
                            height: 80%;
                            background-color: $cor-primaria;
                            border-radius: 100%;

                            img{
                                &:hover{
                                opacity: 0.5;
                                }
                            }
                            
                            &:hover + .morg_txt{
                                display: block;
                                position: relative;
                                top: 0px;  
                            }                   
                        }

                        .morg_txt{
                            display: none;
                            background-color: $cor-primaria;
                            width: 7.25rem;
                            font-size: 50%;
                            padding: 20% 0;
                            border-radius: 5%;
                            box-shadow: 0px 0px 0.825rem grey;
                        }
                        
                    } 
                    .alo4{
                        width: 3.125rem;
                        max-width: 3.125rem;
                        min-width: 3.125rem;
                        height: 3.125rem;
                        max-height: 3.125rem;
                        min-height: 3.125rem;
                        border-radius: 3.125rem;                    
                        
                        .gaz{
                            margin:0.313rem 0.313rem;
                            width: 80%;
                            height: 80%;
                            background-color: $cor-primaria;
                            border-radius: 100%;

                            img{
                                &:hover{
                                opacity: 0.5;
                                }
                            }
                            
                            &:hover + .gaz_txt{
                                display: block;
                                position: relative;
                                top: 0px;  
                            }                   
                        }

                        .gaz_txt{
                            display: none;
                            background-color: $cor-primaria;
                            width: 7.25rem;
                            font-size: 50%;
                            padding: 20% 0;
                            border-radius: 5%;
                            box-shadow: 0px 0px 0.825rem grey;
                        }
                           
                    }
                }

            
            }
            .section_three{
                margin: 0rem 0.313rem;
                padding: 0.2rem 0.313rem;
                width: 33%;
                background-color: white;
                font-size: 160%;
                border-radius: 0.313rem;
                box-shadow: 0px 0px 0.825rem grey;

                .events{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 40%;

                    .events_one{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        
                        span{
                            font-weight: bold;
                        }
                    }
                    .events_two{
                        text-align: center;
                    }
                }
            
            }
        }

        .sessao_dois{
            margin: 0.313rem 0.625rem;
            display: flex;
            justify-content: center;
            text-align: center;
            color: $cor-secundaria;
            flex-flow: row wrap;
            
            .lore_one{
                width: 49%;
                min-width:35rem;
                background-color: white;
                margin: 0.313rem;
                height: 25rem;
                border-radius: 0.313rem;
                box-shadow: 0px 0px 0.5rem $sombra-escura;
                overflow: auto;
                
                h3{
                    padding: 0.313rem;
                }
                .table_one{
                    table-layout: fixed;
                    width: 100%;
                    font-size: 90%;
                    overflow: auto;
                    
                    thead{
                        background-color: $cor-secundaria-iii;
                       
                        th{
                            padding: 0.375rem 0px;
                        };
                    }

                    tbody{
                        
                        tr{
                            .bicho{
                                .area1{
                                    margin: 0px 2.813rem;
                                    min-width: 3rem;
                                    padding: 0.313rem 0.313rem;
                                    border-radius: 3.125rem;
                                    

                                    .area_in{
                                        padding: 3px 3px;
                                        border-radius: 50px;
                                        background-color: white;
                                    }
                                }
                            }
                        
                            tr:nth-child(even){
                                background-color: $cor-secundaria-iv;
                            }
                        }
                 }
                }
            }

        }

        
        //Previsão começa a partir daqui
        .sessao_doisdois{
            .section_one{
                margin: 0.313rem 0.938rem;
                justify-content: center;
                text-align: center;
                color: $cor-secundaria;
                background-color: white;
                align-items: center;
                border-radius: 0.313rem;
                box-shadow: 0px 0px 0.5rem $sombra-escura;
                height: 100%;
                padding: 0.625rem 0px;
                
                table{
                    padding: 0.625 0px;
                    table-layout: fixed;
                    width: 100%;
                    font-size: 80%;
                    
                    .prev{
                        font-size: 90%;
                    }
                    thead{
                        background-color: $cor-secundaria-iii;
                        th{
                            padding: 0.375rem 0px
                        };
                    }
                    tbody{
                        
                        tr{
                            .bicho{
                                
                                .area1{
                                    margin: auto;
                                    min-width: 3rem;
                                    padding: 0.25rem 0.25rem;
                                    border-radius: 3.125rem;
                                    width: 40%;
                                    

                                    .area_in{
                                        padding: 0.25rem 0.25rem;
                                        border-radius: 3.13rem;
                                        width: 100%;                
                                        background-color: white;
                                    }
                                }
                            }
                        } 
                           
                        tr:nth-child(even){
                        background-color: $cor-secundaria-iv;
                        }
                        
                    }
                }
                
            }
        } 
        
        //Por Boss
        .sessao_cum{
            margin: 0.625rem 0.938rem;
            color: $cor-secundaria;
            background-color: white;
            border-radius: 0.313rem;
            box-shadow: 0px 0px 0.5rem grey;
            height: 73vh;

            .horiz_one{
                display: flex;
                padding: 0.625rem 0px;
                justify-content: center;
                text-align: center;
                
                .one{
                    margin: auto;
                    padding: 0.625rem 0px;
                    width: 20%;
                    height: 5rem;
                                        
                }
                .two{
                    margin: auto;
                    padding: 0.625rem 0px;
                    width: 70%;
                    height: 100%;
                    
                    .caract{
                        display: flex;
                        justify-content: space-around;
                        padding: 1.25rem 0px;
                        .ind_one{
                            padding: 0px 1.25rem;
                        }
                        .ind_two{
                            padding: 0px 1.25rem;
                        }
                        .ind_three{
                            padding: 0px 1.25rem;
                        }
                        .ind_four{
                            padding: 0px 1.25rem;
                        }
                        .ind_five{
                            padding: 0px 1.25rem;
                        }
                        .ind_six{
                            padding: 0px 1.25rem;
                        }
                    }
                }
            }
        }
       
    }

    /* Página de Filtrar */
    .conteiner_selection{
        display: flex;
        width: 100%;
        height: 45.6rem;
        margin: 0 auto;
        align-items: center;
        justify-content: center;

        .perfil{
            text-align:justify;
            background-color: $cor-primaria-opc-iii;
            height: 16rem;
            width: 18rem;
            padding: 0.625rem 0.625rem;
            display: flex;
            flex-direction: column;
            justify-content:space-around;
            border-radius: 0.625rem;
            margin-right: 0.5rem;

            .dados-pessoais{
                padding: 0.3rem;
                line-height: 100%;
                align-items: center;
                text-indent: 1rem;
            }
                h3{
                    text-align: center;
                }

                .links{
                    text-align: center;

                    a{               
                    text-decoration: underline;
                    text-transform: none;
                    color: black;
                    font-size: 70%;
                    }
                }
            
        
            .adicionarChar{
                text-align: center;
                text-indent: 0;
                line-height: 115%;
                padding-bottom: 1rem;

                h5{
                    text-align: left;
                    font-size: 80%;
                    text-indent: 0.6rem;
                }
                .txt{
                    text-indent: 0.5rem;
                    font-size: 80%;
                    width: 12rem;
                    height: 1.4rem;
                }
                .button{
                    text-align: left;
                    font-size: 80%;
                    
                    height: 1.4rem;
                }

            
            }
        }

        .selection_word{
            height: 16rem;
            min-height: 11.5rem;
            padding: 0.625rem 0.625rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-radius: 0.625rem;
            align-items: center;
            width: 27.38rem;
            min-width: 27.38rem;
            background-color: $cor-primaria-opc-iii;
            text-align: center;
          
            .characters{
                display: flex;
                justify-content: space-between;
                width: 100%;
                height: 55rem;
                padding-bottom: 1rem;
                
                .char{
                    
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    width: 33%;
                    background-color: $cor-secundaria-iii;
                    border-radius: 5px;
                    padding: 0.3rem;
                    

                    

                    p{
                        font-size: 80%;
                    }
                }
            }


            #verification{
                height: 100%;
                width: 100%;
                display: flex;
                
                                               
                select{
                    font-size: 80%;
                    height: 2rem;
                    padding: 0.1rem;
                    outline: 0;
                    border: 0 !important;
                    cursor: pointer;
                    border-radius: 0.313rem;
                    width: 70%;   
                }

                input{
                    text-decoration: none;
                    text-align: center;
                    padding: 0.3rem;
                    border-radius: 0.313rem;
                    cursor: pointer;
                    border: none;
                    font-family: 'Roboto', sans-serif;
                    font-weight: normal;
                    color:$cor-secundaria-opc;
                    box-shadow: 0 0 0.313rem $cor-secundaria;
                    background-color: $cor-primaria;
                }
                a{
                    text-align: center;
                    font-family: 'Roboto', sans-serif;
                    color: $cor-secundaria-opc;
                    font-size: 80%;

                }

                .nopreench{
                    border: solid 10px red;
                }
            }
            

        }
    }


    /* Fundo Página de Perfil*/
.block{
    background-image: url(/img/home1.png);
    background-size: cover;
    backdrop-filter: brightness(80%);
    
}   

.green{
    background-color: green;
}
.yellow{
    background-color: rgb(223, 220, 59);
}
.red{
    background-color: red;
}